@import "hexagon.css";

/* TODO: Put body color and flare star background color in one place */

@font-face {
  font-family: "STF_POLYGON WINDOW (FILL)";
  src: url(fonts/stf-polygon-window-fill.ttf);
}

@font-face {
  font-family: "Hexagon";
  src: url(fonts/hexagon.ttf);
}

/*div {
  @font-face {font-family: "Gamma Sentry" }
}*/

body {
  /* background: radial-gradient(circle at bottom, navy 0, black 100%);*/
  background: no-repeat center/100% url("../images/Hexaflare.png");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}


/* TODO: Put this in title_screen.css */
#title {
  font-family: "Hexagon";
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;

  font-size: 60px;
  color: white;
}

#title_screen_buttons {
  font-family: "STF_POLYGON WINDOW (FILL)";
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;

  font-size: 50px;
  color: #52565F;
}

.title_screen_button {
  margin-bottom: 40px;
}

#title_screen_cursor {
  border: white solid 2px;
}


#description {
  font-family: "STF_POLYGON WINDOW (FILL)";
}

#choose_level_information {
  font-family: "STF_POLYGON WINDOW (FILL)";
  visibility: hidden;

  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 60px;
}



/* https://twitter.com/adiig7/status/1502546767505551361 */
.flare_star {
  position: absolute;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);

  background-color: #111;
}

/* You can override the opacity in initialization with CORONA_IS_VISIBLE */
.corona_ring .background_hexagon .hexagon_top,
.corona_ring .background_hexagon .hexagon_center,
.corona_ring .background_hexagon .hexagon_bottom {
  opacity: 0;
}

.space {
  background: center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}

.stars1 {
  background-image:
    radial-gradient(
      1px 1px at 25px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px,
      white,
      rgba(255, 255, 255, 0)
    );
}

.stars2 {
  background-image:
    radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 199px 100px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 100px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 5px 5px,
      white,
      rgba(255, 255, 255, 0)
    );
}

.stars3 {
  background-image:
    radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px,
      white,
      rgba(255, 255, 255, 0)
    );
}

.stars1 {
  animation: space 100s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 25px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px,
      white,
      rgba(255, 255, 255, 0)
    );
}

.stars2 {
  animation: space 150s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 199px 100px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 100px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 5px 5px,
      white,
      rgba(255, 255, 255, 0)
    );
}

.stars3 {
  animation: space 200s ease-in-out infinite;
  animation-direction: reverse;
  background-image:
    radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px,
      white,
      rgba(255, 255, 255, 0)
    );
}
