@import "hexagon.css";

/* TODO: Put body color and flare star background color in one place */

body {
  background-color: #111;
}

/* https://twitter.com/adiig7/status/1502546767505551361 */
.flare_star {
  position: absolute;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);

  background-color: #111;
}
