@import "hexagon.css";

/* TODO: Put body color and flare star background color in one place */

body {
  background-color: #111;
}

.flare_star {
  position: relative;

  background-color: #111;
  margin: 0px auto;
  width: 100%;
  height: 100%;
}
