/* Set these values programatically sooner than later */

/* Relative to Flare Star */
.core {
  position: absolute;
}

.core .hexagon {
  position: absolute;
  top: 0;
}

.hexagon_top {
  width: 0;
}

.hexagon_bottom {
  width: 0;
}
