.vertical {
  position: absolute;
  display: inline-block;
  width: 500px;
  height: 10px;

  right: -99px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

@media screen and (min-width: 480px) and (max-width: 1400px){
  .vertical {
    top: 55%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 2000px) {
  .vertical {
    top: 50%;
  }
}

.vertical {
  background-color: rgb(47, 73, 158);
}

.progress-bar {
  height: 10px;
  background-color: azure;

  /*
   * Since the progress bar is vertical, width here 
   * represents the height of the progress bar
   */
  width: 100%;
}
