#level_container, #score_container, #flare_count_container {
  font-family: "STF_POLYGON WINDOW (FILL)";
  font-size: 40px;
  color: white;

  visibility: hidden;
}

#level_container {
  position: absolute;
  top: 7%;
  left: 147px;
  color: white;
}

#message_container {
  font-family:  "STF_POLYGON WINDOW (FILL)";
  font-size: 40px;

  position: absolute;
  text-align: center;
  top: 7%;
  color: white;
  width: 100%;
}

#score_container {
  position: absolute;
  top: 7%;
  right: 147px;
  color: white;
}

#flare_count_container {
  position: absolute;
  top: 11%;
  right: 147px;
}
