#level_container {
  position: absolute;
  top: 7%;
  left: 147px;
  color: white;
}

#message_container {
  position: absolute;
  text-align: center;
  top: 7%;
  color: white;
  width: 100%;
}

#score_container {
  position: absolute;
  top: 7%;
  right: 147px;
  color: white;
}
